

.logo-container, .logo-container img{
    height: 60px;
    width: 130px;
}

nav {
    padding: 5px 20px;
    background-color: black;
}

ul {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #ed2939;
}.menu-main li {
  font-size: 16px;
  padding: 15px 5px;
}

.menu-main li a {
    display: block;
    font-family: 'Poppins-Regular';
    transition: .2s;
}

.menu-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.bars {
position: relative;
cursor: pointer;
order: 1;
}

.item {
display: none;
transition: .2s;
}

.item-active {
    width: 100%;
    text-align: center;
    order: 2;
   
}

@media (min-width:320px) {
    .logo-container, .logo-container img{
        
        width: 160px;
    }
}




@media (min-width: 468px) {
    .menu-main {
        justify-content: center;
    }
    .logo-container, .logo {
        flex: 1;
    }
}



  /* Desktop menu */
  @media (min-width: 768px) {

   
    .item {
        display: block;
        width: auto;
    }
    .bars {
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .menu-main li {
        padding: 15px 10px;
    }
  }
